.array-container{
    background-color: rgb(168, 250, 246);
    position: absolute;
    padding: 20px;
    /* height: 100%;
    width: 100%; */
}

.graph-container{
    margin: 15px;
    display: grid;
    grid-template-columns: repeat(100, 1fr);
    grid-column-gap: .4%;
    align-items: baseline;
}

.array-bar{
    margin-top: 2px;
    margin-bottom: 2px;
    background-color: rgb(38, 0, 255);
    display: inline-block;
}

.header-button{
    position: relative;
    background-color: rgb(251, 255, 0);
    height: 70px;
    font-size: large;
    margin: 15px;
    padding: 10px;
}

.button-container{
    /* margin-top: 15px;
    margin-bottom: 10px; */
    margin: 15px 10px;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-column-gap: .2%;
}