.array-container{
    background-color: rgb(168, 250, 246);
    position: absolute;
    height: 100%;
    width: 100%;
}

.array-bar{
    margin: 15px 4px;
    width: 5px;
    background-color: rgb(38, 0, 255);
    display: inline-block;
}

.header-button{
    position: relative;
    background-color: rgb(251, 255, 0);
    width: 150px;
    height: 60px;
    font-size: large;
    margin: 5px 10px;
}

.button-container{
    margin-top: 15px;
    margin-bottom: 10px;
}